//COLORS FOR TEXT
$color-sub-headings: hsl(276, 100%, 81%);
$color-chatLeft: hsl(276, 55%, 52%);
$color-chatRight: hsl(271, 15%, 43%);
$color-placeholder: hsl(206, 6%, 79%);
$color-main-heading: hsl(271, 36%, 24%);
$color-paragraph: hsl(270, 7%, 64%);

// COLORS FOR GRADIENT
$color-magenta: hsl(293, 100%, 63%);
$color-violet: hsl(264, 100%, 61%);


//SECONDARY COLORS
$color-white: hsl(0, 0%, 100%);
$color-appBg: hsl(270, 20%, 96%);
$color-btnBg: hsl(271, 36%, 24%);
$color-radioBtn: hsl(289, 100%, 72%);


//FONT-SIZE
