.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   gap: 5rem;
  width: 91rem;
  margin: 4rem auto;
  position: relative;
  z-index: 9999;
  @include for(tab-land) {
    width: 85rem;
  }
  @include for(tab-port) {
    width: 60rem;
  }
  @include for(phone) {
    flex-direction: column;
    width: 100%;
  }

  .appBody__container {
    padding: 1rem;
    background-color: $color-white;
    border-radius: 4rem;
    color: $color-white;
  }

  .appBody {
    width: 27rem;
    background-color: $color-appBg;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    // border-top-right-radius: 3rem;

    &__header {
      position: relative;

      .top-white {
        width: 12rem;
        position: absolute;
        top: -0.3rem;
        left: 50%;
        transform: translateX(-50%);
        height: 2.5rem;
        background-color: $color-white;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }
      padding: 3.5rem 1rem 1rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, $color-violet, $color-magenta);
      border-radius: 3rem 3rem 0.5rem 0.5rem;

      &-left {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: 3rem;
          border-radius: 50%;
          border: 1px solid $color-white;
        }
        & > p {
          font-size: 1.8rem;
        }
        h2 {
          line-height: 1.3rem;
          font-weight: 700;
        }
        p {
          color: $color-sub-headings;
          font-weight: 600;
        }
      }

      &-right {
        .icon {
          font-size: 2rem;
        }
      }
    }
    &__chatBox {
      width: 100%;
      padding: 1rem;
      .receivedMsg {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.2rem;
        .chat {
          width: 60%;
          padding: 0.6rem 1rem;
          background-color: hsla(276, 100%, 81%, 0.171);

          margin-bottom: 0.6rem;
          border-radius: 1.6rem 1.6rem 1.6rem 0.7rem;
          p {
            color: $color-chatLeft;
            line-height: 1.2rem;
          }
        }
        .pricing {
          border-radius: 1.6rem 1.6rem 1.6rem 0.7rem;
          padding: 0.6rem;
          background: linear-gradient(
            to top right,
            $color-magenta,
            $color-violet
          );
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.6rem;

          &__info {
            display: flex;
            gap: 1rem;

            .custom-radio-input {
              width: 1.8rem;
              height: 1.8rem;
              border-radius: 50%;
              border: 1px solid $color-radioBtn;
              display: flex;
              justify-content: center;
              align-items: center;

              input[type="radio"] {
                display: none;
              }

              .checkmark {
                width: calc(100% - 0.6rem);
                height: calc(100% - 0.6rem);
                background-color: $color-radioBtn;
                display: inline-block;
                border-radius: 50%;
                opacity: 0;
                cursor: pointer;
                transition: all 0.3s ease;
              }

              input:checked + .checkmark {
                opacity: 1;
              }
            }
          }
          &__price {
            p {
              font-size: 1.4rem;
              font-weight: 700;
            }
          }
        }
      }
      .sentMsg {
        margin-bottom: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__img {
          display: flex;
          gap: 1rem;

          img {
            display: block;
            width: 5rem;
            border-radius: 1rem;
            margin-bottom: 0.6rem;
          }
        }
        .chat {
          width: 60%;
          padding: 0.6rem 1rem;
          background-color: $color-white;

          margin-bottom: 0.6rem;
          border-radius: 1.6rem 1.6rem 0.7rem 1.6rem;
          p {
            color: $color-chatRight;
            line-height: 1.2rem;
          }
        }
      }
      form {
        display: flex;
        justify-content: space-between;
        background-color: $color-white;
        padding: 0.7rem;
        border-radius: 2rem;
        label {
          display: none;
        }
        input {
          width: 80%;
          height: 3.5rem;
          padding: 1rem 0.4rem 0.4rem 0.8rem;
          border: none;
          outline: none;
          &::placeholder {
            color: $color-placeholder;
          }
        }
        button {
          border-radius: 50%;
          width: 3rem;
          background-color: $color-btnBg;
          border: none;
          cursor: pointer;

          .icon {
            color: $color-white;
            font-weight: 700;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .description {
    width: 49rem;
    @include for(tab-land) {
      width: 40rem;
    }
    @include for(tab-port) {
      width: 30rem;
    }
    @include for(phone) {
      width: 100%;
      padding: 3rem;
    }
    h1 {
      font-size: 4rem;
      font-weight: 500;
      color: $color-main-heading;
      @include for(tab-port) {
        font-size: 3rem;
      }
      @include for(phone) {
        text-align: center;
        font-size: 3.5rem;
      }
    }
    p {
      font-size: 1.8rem;
      color: $color-paragraph;

      @include for(tab-land) {
        font-size: 1.6rem;
      }
      @include for(tab-port) {
        font-size: 1.4rem;
      }
      @include for(phone) {
        font-size: 1.6rem;
        text-align: center;
        padding-bottom: 3rem;
      }
    }
  }
}
